* {
  margin: 0;
  box-sizing: border-box;
}

html {
  /* background: #EC1187 linear-gradient(to bottom right, #EC1187 0%, #FF8D10 100%); */
  background-repeat: no-repeat;
  /* width: 100vw; */
  height: 100vh;
  height: -webkit-fill-available;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family:"Avenir Next", Helvetica, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


